<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your cart |
    <button
      *ngIf="cart.items.length"
      (click)="clearCart()"
      class="btn btn-light btn-sm"
    >
      Clear Shopping Cart
    </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px;">Quantity</th>
        <th class="text-right" style="width: 200px;">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div
            [style.backgroundImage]="'url(' + item.imageUrl + ')'"
            class="thumbnail"
          ></div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td class="text-center">
          <product-quantity
            [product]="item"
            [shopping-cart]="cart"
          ></product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right" *ngIf="cart.items.length">
          <p *ngIf="isCouponCodeApplied" class="text-danger">
            Discount: -
            {{ cart.totalDiscount | currency: "USD":true }}
            <br />
          </p>
          Total:
          {{ cart.totalPriceAferDiscount | currency: "USD":true }}
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="container">
    <div class="float-right">
      <div *ngIf="isCouponCodeApplied" class="text-success">
        {{ message }}
      </div>

      <div *ngIf="error" class="text-danger">
        {{ message }}
      </div>
      <br />
      <br />
    </div>
  </div>
  <div class="container">
    <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary"
      >Check Out</a
    >
    <div class="float-right d-none d-md-block">
      <button
        *ngIf="cart.items.length"
        (click)="togglePromoCode()"
        class="btn btn-info"
      >
        Enter Promo Code
      </button>
    </div>
    <br />
    <br />
    <div class="d-md-none">
      <button
        *ngIf="cart.items.length"
        (click)="togglePromoCode()"
        class="btn btn-info"
      >
        Enter Promo Code
      </button>
    </div>
    <br class="d-md-none" />
    <br class="d-md-none" />

    <form #f="ngForm" *ngIf="isPromoCodeButtonSelected">
      <div class="form-group">
        <label for="">Promo Code</label>
        <input
          #name="ngModel"
          name="promo"
          [(ngModel)]="promo"
          type="text"
          class="form-control"
          (keyup.enter)="submitCoupon()"
          required
        />
        <br />
        <button
          [disabled]="!f.valid"
          (click)="submitCoupon()"
          class="btn btn-primary"
        >
          Submit Promo
        </button>
      </div>
    </form>
  </div>
</div>
